extends inc/base

block title
  title= 'Главная страница'
  meta(name="description" content="Описание страницы")

block content
  include parts/header

  main

    section

      #cube

      #move right
      #moveReverse left


  include inc/footer